on: [push, pull_request]

name: ci

jobs:
  build:
    name: check
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/gtk-rs/gtk4-rs/gtk4:latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
    env:
      DISPLAY: ":99.0"
    steps:
      - name: Install dependencies
        run: |
          yum install -y \
            gtk4-devel \
            libadwaita-devel \
            libpanel-devel \
            gtksourceview5-devel \
            poppler-glib-devel

      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy

      - name: Clippy
        run: cargo clippy -- --deny warnings

      - name: Build
        run: cargo build

      - name: Test
        run: cargo test
  fmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: rustup component add rustfmt
      - run: cargo fmt --all -- --check
